#aboutModal.modal.fade
	.modal-dialog
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
				h4.modal-title About Sarah Bentley
			.modal-body
				p
					| Sarah Bentley is a local Madison artist. She received her MFA in painting
					| from the University of Wisconsin Madison, and continues to work on her art
					| from her studio.
					br
					br
					| Her work has been shown in Wisconsin and Minnesota. Her paintings are created with a mixture
					| of oil paint and beeswax, also known as "encaustic".	Her most
					| recent work has focused on imaginative depictions of insects and beehives.
					br
					br
					| The larger than normal 4 inch depth of her canvases create a sculptural
					| element to the art, and eliminate the need for a traditional frame.
			.modal-footer
				button.btn.btn-default(type='button', data-dismiss='modal') Close
