#contactModal.modal.fade
	.modal-dialog.modal-lg
		.modal-content
			.modal-header
				button.close(type='button', data-dismiss='modal', aria-hidden='true') &times;
				h4.modal-title Contact Sarah Bentley
			.modal-body
				p
					center
						iframe(width='100%', height='550px', allowtransparency='true', frameborder='0', scrolling='no', style='border: none;', src='http://www.emailmeform.com/builder/embed/qtgY8zOiHKu478sC')
							a(href='http://www.emailmeform.com/builder/embed/qtgY8zOiHKu478sC') Fill out form.
					div(style='margin-top: 18px; text-align: center;')
					#emf_advertisement
						font(face='Verdana', size='2', color='#000000') Powered by
						span(style='position: relative; padding-left: 3px; bottom: -5px;')
							img(src='//assets.emailmeform.com/images/footer-logo.png?RU1GLTAyLTE0LTk0NjM%3D')
						font(face='Verdana', size='2', color='#000000') EMF 
						a(style='text-decoration: none;', href='http://www.emailmeform.com/', target='_blank')
							font(face='Verdana', size='2', color='#000000') Web Form
				.modal-footer
					button.btn.btn-default(type='button', data-dismiss='modal') Close
